.redes {
    padding-bottom: 15px;
    padding-left: 10px;
}
a{
    color: #555;
}
a:hover {
    font-weight: 400;
    color:#333;
    text-decoration: none;
}
@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}
.floating-d {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.floating-p {
    position: fixed;
    bottom: 55px;
    right: 10px;
}